.details {
  list-style: none;
  margin-bottom: 18px;
}

.detailsList {
  list-style: none;
  background-color: #fff4e6;
  padding: 10px 0;
  border-radius: 10px;

  filter: drop-shadow(0 8px 5px #f1f3f5);
}

h4,
p {
  margin: 0 !important;
}

.name {
  font-weight: 500;
  text-transform: capitalize;
}

.edit {
  font-size: 24px;
}
